@import 'variables.scss';
.header {
  h1 {
    text-align: center;
  }
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main__wrapper_sticky {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 5;
    overflow: hidden;
    background-color: #fff;
  }
  .main__panel {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-bottom: 5px solid black;
    .main__counter {
      display: flex;
      font-size: 3rem;
      width: 100vw;
      justify-content: center;
    }
    .main__btn {
      position: relative;
      margin: 15px auto;
      background-color: white;
      border: 3px solid black;
      padding: 15px;
      cursor: url('../img/cursor.png'), auto;
    }
  }
}
@media screen and (min-width: 600px) {
  .main__btn {
    width: 300px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 599px) {
  .main__btn {
    width: 150px;
    font-size: 0.5rem;
  }
}
