@import 'variables.scss';

.workbench_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 45vh;
  .workbench__titles,
  .workbench__powerups {
    background-color: rgba($color: #000000, $alpha: 0.1);
    width: 100%;
    border: 5px solid black;
  }
  .workbench__titles {
    .workbench__article {
      margin-left: 20px;
      font-size: 0.8rem;
    }
    .workbench__btn {
      width: 100px;
      height: 100px;
      margin: 15px;
      background-color: white;
      position: relative;
      &:disabled {
        background-color: rgba($color: #000000, $alpha: 0.3);

        img {
          opacity: 30%;
        }
      }
      &:disabled .btn__price {
        opacity: 100%;
      }
      &:hover {
        outline: 4px solid red;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .btn__price,
      .btn__count {
        opacity: 100%;
        position: absolute;
        text-shadow: -3px 2px 1px white;
        display: inline;
        color: black;
        font-size: 0.3rem;
      }
      .btn__price {
        right: 0;
        bottom: 0;
      }
      .btn__count {
        right: 0;
        top: 0;
      }
    }
  }
  .workbench__powerups {
    background: top/100% 200px url('../img/bg.jpg') repeat-y;
  }
  .workbench__killers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 42px 40px 20px 40px;
    gap: 40px;
    img {
      width: 90px;
      height: 160px;
      margin-right: -10px;
    }
  }
}

@media screen and (min-width: 900px) {
}
